<app-navbar></app-navbar>
<div class="container pt-2">
  <div class="how-we-help position-relative mx-auto bgc-thm-light mt-3">
      <div class="container">
          
        <div class="row">
            <div class="col-12 text-center">
                <h1>Mua bán và cho thuê Bất động sản</h1>
                <p>Muabanbatdongsan.vn là nền tảng giao dịch bất động sản chuyên nghiệp tại Việt Nam.</p>
            </div>
          <div class="col-sm-6 col-lg-4" data-wow-delay="00ms">
            <div class="iconbox-style3 text-center">
              <div class="icon"><img width="307" height="150" class="w-100    b-loaded" alt="Bất động sản bán" src="../../../assets/property-buy-2.svg"></div>
              <div class="iconbox-content">
                <h4 class="title font-size-19">Bất động sản bán</h4>
                <p class="text">Bạn có thể tìm thấy ngôi nhà mơ ước hoặc cơ hội đầu tư hấp dẫn.</p>
                <a [routerLink]="['/properties-listing']" title="Bất động sản bán" class="ud-btn btn-thm3">Xem ngay</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4" data-wow-delay="300ms">
            <div class="iconbox-style3 active text-center">
              <div class="icon"><img class="w-100    b-loaded" width="307" height="150" alt="Bất động sản cho thuê" src="../../../assets/property-sell-2.svg"></div>
              <div class="iconbox-content">
                <h4 class="title font-size-19">Bất động sản cho thuê</h4>
                <p class="text">Cập nhật thường xuyên và đầy đủ các loại hình bất động sản cho thuê.</p>
                <a [routerLink]="['/properties-listing']" title="Cho thuê" class="ud-btn btn-thm3">Xem ngay</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4" data-wow-delay="300ms">
            <div class="iconbox-style3 text-center">
              <div class="icon"><img class="  b-loaded" width="307" height="150" alt="Danh sách dự án" src="../../../assets/duan.png"></div>
              <div class="iconbox-content">
                <h4 class="title font-size-19">Đánh giá dự án</h4>
                <p class="text">Cung cấp các thông tin về dự án chính xác nhất, nhanh nhất.</p>
                <a [routerLink]="['/properties-listing']" title="Danh sách dự án" class="ud-btn btn-thm3">Xem ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-product-info></app-product-info>
<app-footer></app-footer>
