/* Ẩn input type=file, và tùy chỉnh giao diện cho label */
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Thay đổi màu chữ của label tải lên */
  .custom-file-upload span {
    color: #333;
  }
  

  .form-form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
}

.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 50%;
}